*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

:root{
    --dark-background-color: hsl(207, 26%, 17%);
    --dark-element-color: hsl(209, 23%, 22%);
    --dark-element-color-hover: hsl(209, 23%, 30%);
    --light-background-color: hsl(0, 0%, 98%);
    --light-element-color:hsl(0, 0%, 100%);
    --dark-text-color: white;
}

body{
    background-color: var(--light-background-color);
    color: black;
}

body.dark{
    background-color: var(--dark-background-color);
    color: var(--dark-text-color)
}

a{
    color: black;
    text-decoration: none;
}

.dark a{
    color: var(--dark-text-color)
}

.container{
    min-width: 300px;
    max-width: 1280px;
    margin: 0px auto;
}

#header{
    height: 80px;
    padding: 20px 0px;
    background-color: var(--light-element-color);
    margin-bottom: 50px;
    box-shadow: 0px 1px 9px 1px #00000012;;
}

.dark #header{
    background-color: var(--dark-element-color);
}

#header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header .dark-mode{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 110px;
    font-weight: 300;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.card-wrapper{
    box-shadow: 0px 0px 6px 0 #00000021;
    transition: 0.2s;
}

.card-wrapper:hover{
    box-shadow: 0px 0px 9px 0 #00000021;
}

.card{
    width: 270px;
    height: 340px;
    border-radius: 4px;
    background-color: var(--light-element-color);
}

.dark .card{
    background-color: var(--dark-element-color);
}

.card:hover{
    box-shadow: 0px 0px 9px 0 #00000021;
}

.card .image{
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card .text{
    padding: 25px;
}

.card .text .title{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card .text p span{
    font-weight: 800;
}

.preferences{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.preferences .input-container{
    padding: 20px 30px;
    background-color: var(--light-element-color);
    border-radius: 4px;
    width: 480px;
    box-shadow: 0px 0px 6px 0px #00000012;
}

.dark .preferences .input-container{
    background-color: var(--dark-element-color);
}

.preferences .input-container input{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 18px;
    margin-left: 6px;
    width: calc(100% - 27px);
}

.dark .preferences .input-container input{
    color: #e2e2e2;
}

.preferences .input-container input::placeholder{
    color: grey;
}

.dark .preferences .input-container input::placeholder{
    color: #e2e2e2;
}

.select-box{
    width: 200px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: grey;
    font-size: 18px;
    height: 64px;
    box-shadow: 0px 0px 6px 0px #00000012;
}

.dark .select-box{
    color: #e2e2e2;
}

.select-box .trigger{
    width: 100%;
    background-color: var(--light-element-color);
    height: 100%;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.dark .select-box .trigger{
    background-color: var(--dark-element-color);
}

.select-box .options{
    display: none;
    position: absolute;
    z-index: 999;
    border-radius: 4px;
    top: 63px;
    left: 0px;
}

.preferences .select-box .trigger:hover .options{
    display: block;
}

.select-box .options span{
    display: block;
    background-color: var(--light-element-color);
    width: 200px;
    padding: 5px 20px;
    cursor: pointer;
}

.dark .select-box .options span{
    background-color: var(--dark-element-color);
}

.select-box .options span:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 10px;
}

.select-box .options span:hover{
    background-color: var(--light-element-color-hover);
}

.dark .select-box .options span:hover{
    background-color: var(--dark-element-color-hover);
}

.country{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.country .flag{
    width: 560px;
    height: 400px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 6px 0px #00000012;
}

.country .texts{
    padding-top: 40px;
}

.country .texts .info{
    column-count: 2;
    column-gap: 120px;
}

.country .texts .info p{
    font-weight: 800;
    margin-bottom: 7px;
}

.country .texts .info p span{
    display: inline-block;
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    vertical-align: bottom;
}

.country .texts .info span{
    font-weight: 400;
}

.country .texts .title{
    font-size: 27px;
    margin-bottom: 30px;
}

.country .texts .border-countries{
    margin-top: 50px;
}

.country .texts .border-countries .countries p{
    font-weight: 700;
}

.country .texts .border-countries .countries{
    display: flex;
    flex-wrap: wrap;    
    max-width: 560px;
    align-items: center;
}

.country .texts .border-countries .countries a{
    display: block;
    width: 95px;
    box-shadow: 0px 0px 6px 0px #00000012;
    background-color: var(--light-element-color);
    padding: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    margin-left: 7px;
    border-radius: 3px;
    margin-bottom: 4px;
    transition: 0.2s;
}

.dark .country .texts .border-countries .countries a{
    background-color: var(--dark-element-color);
}

.country .texts .border-countries .countries a:hover{
    background-color: var(--light-element-color-hover);
}

.country .texts .border-countries .countries a:hover{
    background-color: var(--dark-element-color-hover);
}

a.back-button {
    font-size: 18px;
    width: 200px;
    box-shadow: 0px 0px 6px 2px #00000054;
    padding: 5px 15px;
    background-color: var(--light-element-color);
    border-radius: 3px;
    transition: 0.2s;
}
a.back-button:hover {
    background-color: var(--light-element-color-hover);
}

.dark a.back-button {
    background-color: var(--dark-element-color);
}
.dark a.back-button:hover {
    background-color: var(--dark-element-color-hover);
}

a.back-button i{
    margin-right: 5px;
}